
/* PHONE CHECKER */

.phone_block {
    background-image: url("https://s.afisha.ru/mediastorage/dc/eb/28c05adf336a42209e43b4d0ebdc.jpg");
    padding: 100px 0;
}

.inner_phone_block {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid var(--orange);
    height: 300px;
    border-radius: 20px;
    align-items: center;
}

.form_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_phone button {
    width: 100%;
    margin: 20px 0;
}

/* TAB SLIDER */

.tab_slider {
    background-image:url("https://i.ytimg.com/vi/3kcjVvzdPiw/maxresdefault.jpg");
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.tab_content_block {
    width: 700px;
    border: 1px solid var(--orange);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 170px;
}

.tab_content_block p {
    color: white;
    margin-top: 10px;
    text-align: justify;
}

.tab_content_items {
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.tab_content_item {
    padding: 10px;
    height: 30px;
    color: white;
    border: 1px solid var(--orange);
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    display: grid;
    place-content: center;
}

.tab_content_item_active {
    background: var(--orange);
    color: black;
    font-weight: 600;
    border: 1px solid white;
}

.tab_contents_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/*------CARD SWITCHER------*/

.card_switcher {
    background-image: url("https://www.soyuz.ru/public/uploads/files/2/6867034/201611111111573252fcfe5b.jpg");
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 190vh;
}
.card {
    width: 500px;
    height: 150px;
    border: 1px solid var(--orange);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.card p {
    color: var(--orange);
    font-size: 20px;
}

.card span {
    color: white;
    font-size: 30px;
}

.inner_card_switcher {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*-------CONVERTER--------*/


.converter {
    padding: 100px 0;
    background-image: url("https://cs10.pikabu.ru/post_img/big/2020/02/29/5/1582961407174965806.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.inner_converter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.inner_converter > div {
    display: flex;
    flex-direction: column;
}

/*------WEATHER------*/

.weather {
    padding: 100px 0;
    background-image: url("https://resizer.mail.ru/p/65e92c26-7606-5773-9e5a-ff1f62e8c411/AQACYT9Zb10FgtNG8H2qE_K0VEJMa7nPh9Xou0YP-t_04N5V_ISGFqO4-etpLKM6dWGW-1xY1wgDPkCe7oUaXYI9kBk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 190vh;
}

.inner_weather > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 25px;
}

.inner_weather {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

hr {
    width: 100%;
}